body {
  font-family: Arial, sans-serif;
}

.todos-page {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.todos-container {
  padding: 20px;
  width: 100%;
  max-width: 900px;
}


.add-todo, .search-sort {
  display: flex;
  /* justify-content: center; */
  margin-bottom: 20px;
}

.add-todo input, .search-sort input, .search-sort select {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 1em;
}

.add-todo button {
  background-color: #474747e2;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-todo button:hover {
  background-color: #474747e2;
}

.todos-list {
  list-style-type: none;
  padding: 0;
}

.todos-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffffa8;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.todos-list li.completed .todo-title {
  text-decoration: line-through;
  color: rgb(108, 108, 108);
}

.todos-list button {
  background-color: #474747e2;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.todos-list button:hover {
  background-color: #000000;
}

.todos-list input[type="checkbox"] {
  appearance: none;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #474747;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.todos-list input[type="checkbox"]:checked {
  background-color: #474747;
  margin-left: 10px;
  margin-right: 10px;
  border-color: #000000;
}

.todos-list input[type="checkbox"]:checked::after {
  content: '✔';
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todos-list input[type="checkbox"]:hover {
  border-color: #000000;
}

.todos-container {
  padding-bottom: 60px;
}

.add-todo {
  margin: 20px 0;
  width: 100%;
  background-color: #444444c1;
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.add-todo input {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-todo button {
  padding: 8px 16px;
  background-color: #312f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-todo button:hover {
  background-color: rgb(0, 0, 0);
}

.add-todo-form {
  position: fixed;
  bottom: 60px;
  right: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-todo-form input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-todo-form button {
  padding: 10px 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.add-todo-form button:hover {
  background-color: #004d40;
}

.add-todo-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.add-todo-button:hover {
  background-color: #004d40;
}

.todo-id {
  color: #959595;
  margin-right: 10px;
}

.todo-title {
  color: #000000;
}

.todo-actions {
  display: flex;
  gap: 10px;
  margin-left: auto;
}








