.album-detail-page {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #000000;
}

.add-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.add-photo input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 1em;
}

.add-photo button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-photo button:hover {
  background-color: #0056b3;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #ffffffa8;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.photo-item img {
  max-width: 150px;
  border-radius: 5px;
}

.photo-item button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.photo-item button:hover {
  background-color: #cc0000;
}
