.album-detail-page {
  margin: 0;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  /* background-attachment: fixed; */
}

.add-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.add-photo input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.add-photo button {
  background-color: #00796b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-photo button:hover {
  background-color: #004d40;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #ffffffa8;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.photo-item img {
  max-width: 150px;
  border-radius: 5px;
}

.photo-item button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.photo-item button:hover {
  background-color: #cc0000;
}

.add-photo-form {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-photo-form input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 1rem;
  outline: none;
}

.add-photo-toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.add-photo-toggle-btn:hover {
  background-color: #004d40;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.add-photo-submit-btn {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.add-photo-submit-btn:hover {
  background-color: #004d40;
}
