.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-attachment: fixed;
}

.dashboard-nav {
  display: flex;
  gap: 10px;
}

.dashboard-nav button {
  background-color: #474747e2;
  color: white;
  border-radius: 10px;
  border: none  ;
  width: 150px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard-nav button:hover {
  background-color: #9d9d9de2;
}

.dashboard-nav a {
  display: block;
  text-align: left;
  color: white;
  text-decoration: none;
}

.dashboard-nav a:hover {
  text-decoration: underline;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
}